<h1>Meditate</h1>



<ul>
    
    <li>
       welcome  {{currentUser.name}}
    </li>

<form class="form-group" method="GET" action="/">
  <label for="newEntry">How are you feeling today?</label>
  <textarea class="form-control" rows="5" id="after"></textarea>
   <button type="submit" id="submit" class="btn btn-default">Submit Session data</button>
</form>

  