<h1>Meditate</h1>



<ul>
    
    <li>
       welcome  {{currentUser.name}}
    </li>

<form class="form-group" method="GET" action="/timer">
  <label for="newEntry">How are you feeling today?</label>
  <textarea class="form-control" rows="5" id="before"></textarea>
   <button type="submit" id="submit" class="btn btn-default">Submit and start new session</button>
</form>

  