<h1>Meditate</h1>



<ul>
    
    <li>
       welcome  {{currentUser.name}}
    </li>

<div class="form-group">
  <label for="newEntry">New Entry:</label>
  <textarea class="form-control" rows="5" id="newEntry"></textarea>
   <button type="submit" id="submit" class="btn btn-default">Submit</button>
</div>

   