<body>

<div class="text-center">
	<h1>Meditation Timer</h1>


<div id = "timeDiv">
	<h1 id = "title1">Time</h1>
		<a href = "#" class = "btn btn-primary" id = "minus5Clock">-</a>
		<h2 id="num">1:00</h2>
		
		<a href = "#" class="btn btn-primary" id="add5Clock">+</a>
		<h2 id = "timeType"></h2>
		<a href ="#" class="btn btn-primary" id="reset">Reset</a>
</div>



<a href="#" class="btn btn-primary" id="start">Start</a>

<form class="form-group" method="GET" action="/after">
   <button type="submit" id="submit" class="btn btn-default">Post session diary</button>
</form>

</div>




</body>




</html>